.checkout_container {
  width: 100%;
  height: 100vh;
  background-color: #e9ecee;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.checkout_box {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.checkout_box_left {
  width: 64%;
  height: 100%;
}

.checkout_address_container {
  width: 100%;
  height: auto;
  background-color: #fff;
  box-sizing: border-box;
  padding: 30px;
  position: relative;
}

.checkout_address_container h1 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.checkout_address_container p {
  font-size: 14px;
  color: #8a8a8a;
  margin-top: 3px;
}

.multiple_address_tab {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homeaddress_delivery_tab {
  width: 45%;
  height: 230px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  border: 1px solid #cccccc55;
  transition: 0.3s;
}

.homeaddress_delivery_tab:hover {
  box-shadow: 0px 4px 10px #dde1ee;
}

.workaddress_delivery_tab:hover {
  box-shadow: 0px 4px 10px #dde1ee;
}

.workaddress_delivery_tab {
  width: 45%;
  height: 230px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  border: 1px solid #cccccc55;
  transition: 0.3s;
}

.transparent_cover_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.transparent_cover_bg h1 {
  font-size: 30px;
  text-transform: capitalize;
}

.transparent_cover_bg button {
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #60b246;
  cursor: pointer;
}

.address_title_cover {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.transparent_cover_bg p {
  max-width: 320px;
  margin-top: 10px;
  line-height: 25px;
}

.transparent_cover_bg h4 {
  margin-top: 20px;
}

.tickIcon {
  color: #60b246;
  margin-left: 15px;
}

.address_left {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.address_right {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.address_right h4 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 3px;
  color: #202020;
}

.address_right p {
  font-size: 13px;
  margin-top: 15px;
  color: #8a8a8a;
  margin-bottom: 20px;
  font-weight: 400;
}

.address_right button {
  padding: 10px 15px;
  margin-top: 15px;
  border: none;
  color: #fff;
  background-color: #60b246;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}

/* //
//
//
//
//
//
//
//
//
//
//
// */

.checkout_box_right {
  width: 32%;
  height: 85%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.checkout_cart_box {
  width: 100%;
  max-height: 70%;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}

.restaurant_cart_details {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: flex-start;
  padding-left: 30px;
  padding-top: 30px;
}

.restaurant_cart_details img {
  width: 90px;
  margin-left: 20px;
}

.restaurant_info {
  padding-left: 15px;
}

.restaurant_info h3 {
  font-size: 17px;
  font-weight: 410;
}

.restaurant_info p {
  font-size: 14px;
  color: #8a8a8a;
  margin-top: -3px;
}

.cartSpacer {
  width: 40px;
  margin-top: 12px;
  border-bottom: 2px solid #60b246;
}

.checkout_cart_box input {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 5px;
  background-color: #f5f5f5;
  border: none;
  outline: none;
  margin-top: 20px;
  border-radius: 4px;
}

.apply_coupon_box {
  width: 98%;
  height: 20px;
  border: 1.5px dashed rgb(117, 117, 117);
  margin-top: 15px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.5s;
}

.apply_coupon_box:hover {
  box-shadow: 0px 2px 7px #dde1ee;
}

.percentageIcontwo {
  color: #fff;
  padding: 2px;
  background-color: #60b246;
  border-radius: 50%;
  margin-right: 10px;
  border: 1.5px dashed #fff;
}

.apply_coupon_box h5 {
  margin-left: 10px;
}

.checkout_price_details {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding-bottom: 10px;
}

.checkout_price_details h4 {
  font-size: 15px;
  font-weight: 500;
}

.checkout_price_box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.checkout_price_box p {
  font-size: 13px;
  color: rgb(73, 73, 73);
}

.single_cart_box.active {
  margin-top: 12px;
  margin-bottom: 12px;
}

.cartSpacerline {
  width: 100%;
  border-bottom: 1.5px dashed rgb(117, 117, 117);
  margin-top: 15px;
  margin-bottom: 15px;
}

.total_price_tab {
  width: 85%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding-top: 10px;
}
